<html>
    <head>
        <meta charset="UTF-8">
        <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="../css/style.css" rel="stylesheet">
        <title>title</title>
    </head>
    <body>
        {% block title %}

        <h1>BLOG</h1>
        <hr>
        
        {% endblock %}
        
        {% block container %}{% endblock %}
    </body>
</html>

